*.jar
*.job
*.swp
apache-nutch-*-bin/build/
apache-nutch-*-bin/runtime/
apache-nutch-*-bin/runtime/deploy/bin/nutch
apache-nutch-*-bin/runtime/local/bin/nutch
crawls/
data/2012*
data/*.txt
data/products*
data/urls/
data/pages
log/
